*{
    padding: 0;
    margin: 0;
}
.parent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.child{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 2.5rem;
    background-color: red;
    transition: 10s;
    transform: 10s;
}
.child:hover{
    width: 350px;
    height: 350px;
    transform: rotate(720deg);
}
.child2{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 2.5rem;
    background-color: red;
    transition: 10s;
    transform: 10s;
}
.child2:hover{
    width: 350px;
    height: 350px;
    transform: rotate(720deg);
}
.child3{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 2.5rem;
    background-color: red;
    transition: 10s;
    transform: 10s;
}
.child3:hover{
    width: 350px;
    height: 350px;
    transform: rotate(720deg);
}
.child4{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 2.5rem;
    background-color: red;
    transition: 10s;
    transform: 10s;
}
.child4:hover{
    width: 350px;
    height: 350px;
    transform: rotate(720deg);
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vh;
}
