*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(243, 234, 227);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
}







.mother{
    display: flex;
    width: 700px;
    height: 600px; 
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
}

.image{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 10%;
    height: 10%;
}
.text{
    display: flex;
    text-align: right;
    justify-content: center;
}

button{
    background-color: rgb(61, 129, 104);
    border-radius: 15%;
    width: auto;
    height: auto;
}
.old{
    
}
