.parent{
    padding: 10px;
    width: 100%px;
    height: 100VHpx;
    display: grid;
    grid-template-columns: repeat(44auto);
    grid-template-rows: repeat(44,auto);
    gap: 20px;
}

.child{
    background-color: rgb(255, 166, 0);

}

.child-1{
    grid-row: 4/8;
    grid-column: 1/45;
}
.child-2{
    grid-column: 1/8;
    grid-row: 8/40;
}
.child-3{
    grid-column: 8/35;
    grid-row: 8/40;
}
.child-4{
    grid-column: 35/45;
    grid-row: 8/40;
}
.child-5{
    grid-column: 1/45;
    grid-row: 40/45;
}
