body{
    background-color: rgb(0, 0, 0);
}

.grid-parent{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    padding: 10px;
}

.grid-parent > div{
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(107, 107, 255);
}

.masonry1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 40vh;
}

.responsive{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.fluid{
    grid-column-start: 2;
    grid-column-end: 3;
}

.overlap{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.explicitly-placed{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.flexible-breadth{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 20vh;
}

.dom-order{
    grid-row-start: 4;
    grid-row-end: 5;
    height: 20vh;
}

.masonry2{
    grid-row-start: 3;
    grid-row-end: 5;
}

.named-tracks{
    grid-column-start: 3;
    grid-column-end: 5;
}